body {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: bolder;
  
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header .nav-link:hover,
.header .nav-link.active {
  color: #35a22c !important;
  /* thêm thuộc tính important để đè code css */
}

.tinThanh_Group {
  width: 300px;
}

.header .nav-link {
  position: relative;
}

.header .nav-link::after {
  content: "";
  display: flex;
  width: 0;
  height: 3px;
  background-color: #35a22c;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
  /* để tạo hiệu ứng after chạy từ trái qua phải thì phải thêm thuộc tính transition vào */
}

.header .nav-link:hover::after,
.header .nav-link.active::after {
  width: 100%;
}

/* disabled ở trong thẻ a đang bị gắn thuộc tính pointer-events: none;, thuộc tính này sẽ huỷ hết các thuộc tính hover của thẻ a, nếu ko cần thì gỡ ra, và thêm href vào */

.slider .carousel-item img {
  height: 550px;
  object-fit: cover;
}

.slider .carousel-caption img {
  width: 180px;
  height: 180px;
}

.slider .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
  z-index: 10;
}

.slider .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider .carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.portfolio .main .nav-link.active {
  background-color: #35a22c;
  color: white !important;
}


.features {
  background-color: transparent
}

.features .icon {
  font-size: 30px;
  color: #189A46;
}

.features .area-box h4 a {
  color: chartreuse;
  font-weight: bolder;
}

.read {
  color: chocolate;
}
.fa-circle-check{
  color: crimson;
}
.features .area-box p {
  color: darkturquoise;
}

.features .area-box {
  width: 300px;
  height: 400px;
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.features .area-box:hover {
  border: 2px solid  cornflowerblue;
}

a {
  text-decoration: none;
  color: white;
}

.e-con-inner {
  display: flex;
  background-color: #189A46;
  width: 1590px;
}

.area-box p {
  color: #35a22c;
}

.area-boxTwo {
  background-image: url("/image/DuAn2.png");
  background-position: center;

}

.area-boxThree {
  background-image: url("/image/DuAn3.png");
  background-position: center;

}

.area-boxFour {
  background-image: url("/image/DuAn4.png");
  background-position: center;

}

.area-boxFive {
  background-image: url("/image/DuAn5.png");
  background-position: center;
}

.area-boxSix {
  background-image: url("/image/DuAn6.png");
  background-position: center;

}

.area-boxSeven {
  background-image: url("/image/DuAN7.png");
  background-position: center;

}

.area-boxEight {
  background-image: url("/image/DuAn8.png");
  background-position: center;
}

.area-boxNine {
  background-image: url("/image/DuAn9.png");
  background-position: center;

}

.area-boxTen {
  background-image: url("/image/DuAn10.png");
  background-position: center;

}

.area-boxEleven {
  background-image: url("/image/DuAn11.png");
  background-position: center;

}

.area-boxTwelve {
  background-image: url("/image/DuAn12.png");
background-position: center;
  background-size: cover;
}


#PartnerCompany {
  margin-top: 100px;
  border: gray 2px solid;
  width: 1280px;
  margin-bottom: 50px;
  margin-left: 150px;
}


#PartnerCompany header {
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

.container2 {
  display: grid;
  grid-template-columns: 4;
  grid-row: 3;
  margin-top: 20px;
}

.cardTwo {
  margin-top: 20px;
}

.arrow_Up {
  position: fixed;
  bottom: 10px;
  right: 40px;
  width: 40px;
  height: 40px;
  border: blue 2px solid;
  color: chocolate;
  border-radius: 30%;
  cursor: pointer;
  animation: border-color-change 1.5s linear infinite;
}

.partnerPart {
  margin-left: 150px;
  margin-top: 30px;
}
.col{
  border: 1px solid green;
  padding: 10px;
}

.partnerPart header {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  color: burlywood;
}

.partner {
  margin-top: 50px;
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.partner header {
  text-align: center;
}

li {
  list-style-type: none;
}



.strong_Side {
  background-color: whitesmoke;
  width: 500px;
  box-shadow: 0 0 10px #ccc;
  animation: fadeIn 2s ease-in-out;
  text-align: center;
  margin-left: 600px;
  font-size: larger;
  margin-top: 50px;
  margin-bottom: 50px;

}

ul li {
  text-decoration: none;
  list-style-type: none;
}

.arrow_Up:hover {
  background-color: darkgoldenrod;
}

.info p {
  margin-left: 15px;
}

.fa-arrow-up {
  position: absolute;
  right: 12px;
  top: 10px;
}

.contentField {
  width: 600px;
  height: 10px;
  border-color: cornflowerblue;
}

#mainField {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  border: #189A46 1px solid;
  width: 1117px;
  height: 200px;
}

#mainField img {
  height: 160px;
  width: 350px;
  max-width: fit-content;
}

#mainFieldTwo {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  border: orangered 1px solid;
  width: 1117px;
  height: 215px;
}

#mainFieldTwo img {
  height: 160px;
  width: 350px;
  max-width: fit-content;
}

#mainFieldThree {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  border: palevioletred 1px solid;
  width: 1117px;
  height: 200px;
}

#footer {
  width: 1200px;
}

#mainFieldThree img {
  height: 160px;
  width: 350px;
  max-width: fit-content;
}

.navbar-nav li {
  display: inline-block;
  width: 50px;
  height: 20px;
  color: white;
  line-height: 20px;
}

.introducePart ul li a {
  display: block;

}

.navbar-nav ul li:hover .extraMenu {
  display: flex;
}

.navbar-nav ul li>.extraMenu {
  display: none;
  position: absolute;
}

.elementor-icon-list-items {
  margin-right: 20px;
}

.area-boxOne {
  background-image: url('/image/DuAn1.png');
}

svg {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -225px;
}

.text-effect {
  overflow: hidden;
  position: relative;
  -webkit-filter: contrast(110%) brightness(190%);
  filter: contrast(110%) brightness(190%)
}

.neon-bsw-text {
  position: relative;
  background: black;
  color: transparent;
  text-align: center;
}

.neon-bsw-text::before,
.neon-bsw-text::after {
  content: attr(data-text);
  color: white;
  -webkit-filter: blur(0.02em);
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none
}

.neon-bsw-text::after {
  mix-blend-mode: difference
}

.gradient,
.spotlight-bsw-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10
}

.gradient {
  background: linear-gradient(45deg, red, blue);
  mix-blend-mode: multiply
}

.spotlight-bsw-bg {
  -webkit-animation: light 5s infinite linear;
  animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge
}

@-webkit-keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0)
  }
}

@keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0)
  }
}

.neon-bsw-text {

  text-transform: uppercase;
  text-align: center;
  margin: 0
}

.neon-bsw-text:focus {
  outline: none;
  border: 1px dotted white
}


.strong_Side {
  
  padding: 20px;
  background-color: #f5f5f5; /* Màu nền cho khối */
  border-radius: 10px; /* Bo tròn góc cho khối */
}

h5 {
  color: #333; /* Màu văn bản */
}

.card_Strong {
  
  margin-top: 20px;
  background-color: #fff; /* Màu nền cho thẻ */
  border: 1px solid #ddd; /* Đường viền thẻ */
  border-radius: 8px; /* Bo tròn góc cho thẻ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
}
.card {
  background-color: #f5f5f5;
  
  width: 200px;
  height: 250px;
 
  color: deepskyblue;
  text-align: center;
  margin-top : 5px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc5todQjRfkpC_KMOfrtQKybvEwb-Gz3WUSg&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(21, 136, 21);
  border-radius: 20%;
  animation: border-color-change 1.5s linear ;
}
@keyframes border-color-change {
  0% {
    border-color: #ff0000;
  }

  50% {
    border-color: orange;
  }

  100% {
    border-color: blue;
  }
}


.card_Info{
  margin-top: 20px;
}
.card_Info img{
  width: 55px;
  border-radius: 50%;
}
.certificate img{
  width: 700px;
  height: 400px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 3fr);
  grid-template-rows: repeat(2,1fr);
}
/* Các mục trong danh sách */
ul li {
  list-style: none; /* Loại bỏ dấu đầu dòng */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Đường viền giữa các mục */
}

/* Các biểu tượng và văn bản trong mỗi mục */
ul li i {
  color: #28a745; /* Màu biểu tượng */
  margin-right: 10px; /* Khoảng cách giữa biểu tượng và văn bản */
}

/* Phần văn bản trong mỗi mục */
ul li .Strong_side {
  color: #333; /* Màu văn bản */
}

/* Hiệu ứng hover khi di chuột qua mỗi mục */
ul li:hover {
  background-color: #f8f9fa; /* Màu nền khi hover */
}




.cardThree{
  margin-left: 500px;
}
.counter{
  margin-left: 30px;
}
.cardContent{
  
  width: 800px;
  height: 200px;
}
.cardContent i{
  width: 170px;
  height: 50px;
  color: green;
  margin-left: 50px;
}
.cardContent h2{
  margin-left: 20px;
}
.Header_TS{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color: green;
}
.thong_So{
  background-color: chocolate;
  margin-bottom: 50px;
}
.partnerItem{
  width: 450px;
  height: 250px;
  border: 1px solid blue;
  text-align: center;
  animation: border-color-change 1.5s linear infinite;
  
  margin: 10px;
  text-align: center;
  
}

.partnerItem a{
  display: block;
  margin-left: 155px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #35a22c;
  border-radius: 100%;
  margin-top: 30px;
}
.icoin i:hover{
  background-color: white;
}
.partnerItem p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.partnerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}


.company_Partner .service{
  display: flex;
}
.company_Partner header{
  font-size: larger;
  font-weight: bolder;
  color: green;
}

.partnerItem img{
  margin-left: 8px;
  width: 140px;
}
@media screen and (min-width: 1024px) {}

@media screen and (max-width: 480px){
  .slider{
    width: 1550px;
  }
  .text-effect{
    margin-left: 440px;
    width: 800px;
  }
  .neon-bsw-text{
    text-align: center;
  }
  .containerfourth{
  width: 1000px;
  margin: 20px;
  }
  .grid .card{
    margin: 30px;
  }
.project_Paragraph{
  font-weight: bolder;
  color: red;
}
.partnerInfo{
  width: 500px;
  height: 600px;
}
.company_Partner{
  text-align: center;
  margin-top: 50px;
  width: 1200px;
  margin-left: 200px;
  margin-bottom: 50px;
}
.special_show{
  margin-left: 500px;
}
.company_Partner .header{
  font-size: larger;
  font-weight: bolder;
}
.partnerItem{
  margin-left: 205px;
  width: 235px;
}
.certificate{
  text-align: center;
}
.partnerItem a{
  margin-left: 40px;
}
.certificate{
  margin-left: 250px;
}
.thong_So{
  
  width: 1600px;
}
.cardContent i{
  margin-top: 30px;
  width: 50px;
  height: 50px;
}
.news{
  width: 1300px;
  margin-left: 200px;
}


  .mainTwo{
    width: 890px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows:3 ;
    margin-left: 350px;
  grid-row: 3;
  margin-top: 50px;
  }
}
