.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  .header .nav-link:hover,
  .header .nav-link.active {
    color: #35a22c !important;
    /* thêm thuộc tính important để đè code css */
  }
  
.tinThanh_Group{
    width: 300px;
}

  .header .nav-link {
    position: relative;
  }
  .header .nav-link::after {
    content: "";
    display: flex;
    width: 0;
    height: 3px;
    background-color: #35a22c;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
    /* để tạo hiệu ứng after chạy từ trái qua phải thì phải thêm thuộc tính transition vào */
  }
  
  .header .nav-link:hover::after,
  .header .nav-link.active::after {
    width: 100%;
  }
  /* disabled ở trong thẻ a đang bị gắn thuộc tính pointer-events: none;, thuộc tính này sẽ huỷ hết các thuộc tính hover của thẻ a, nếu ko cần thì gỡ ra, và thêm href vào */
  
  .slider .carousel-item img {
    height: 550px;
    object-fit: cover;
  }
  
  .slider .carousel-caption img {
    width: 180px;
    height: 180px;
  }
  
  .slider .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
    z-index: 10;
  }
  
  .slider .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider .carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  
  .portfolio .main .nav-link.active {
    background-color: #35a22c;
    color: white !important;
  }


  .features {
    background-color: #f9f7fe;
}

.features .icon {
    font-size: 30px;
    color: #189A46;
}

.features .area-box h4 a {
    color: #000c04;
}

.features .area-box p {
    color: #696969;
}

.features .area-box {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.features .area-box:hover {
    background: #f9f7fe;
}

a{
  text-decoration: none;
}